@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  background-color: oklch(var(--b1));
  color: white;
  font-family: 'Poppins';
}

#root {
  height: 100vh;
  width: 100vw;
}

body {
  min-height: 100vh;
}

.incident-details-label {
  color: oklch(var(--bc) / 0.6);
  @apply text-sm;
}
